<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="uid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> UID </th>
    <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="rolename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Role </th>
    <td class="pointer" mat-cell *matCellDef="let element">
      <div *ngIf="element.role.protected === true; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>{{element.role.name}}</ng-template>
      <ng-template #elseBlock>
        <mat-select [(value)]="element.role.id" (selectionChange)="updateRole(element,$event.value)">
          <mat-option *ngFor="let role of roles" [(value)]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="viewTables">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Tables </th>
    <td mat-cell *matCellDef="let element">
      <button mat-stroked-button type="button" (click)="viewTable(element.uid)">Veiw Table(s)</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>