// .vertical-chart {
//     width: 50vw;
//     min-width: 20em;
//     height: 25vh;
// }

// .pie-chart {
//     width: 50vw;
//     min-width: 20em;
//     height: 25vh;
// }

.temp-chart {
    width: 50vw;
    min-width: 20em;
    height: 25vh;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}