<div class="charts">
      <div class="pie-chart temp-chart">
            <h2>Watched/Not Watched</h2>
            <ngx-charts-pie-chart
                  [results]="watchedResults"
                  [legend]="true"
                  [trimLabels]="false">
            </ngx-charts-pie-chart>
      </div>

      <div class="vertical-chart temp-chart">
            <h2>Lengths</h2>
            <button mat-stroked-button type="button" (click)="limitLenght()">Top {{limit}}</button>
            <ngx-charts-bar-vertical
                  [results]="lengthResults"
                  [xAxisLabel]="film"
                  [yAxisLabel]="length"
                  [showXAxisLabel]="true"
                  [showYAxisLabel]="true"
                  [xAxis]="true"
                  [yAxis]="true"
                  [barPadding]="4">
            </ngx-charts-bar-vertical>
      </div>
</div>