<!-- Options -->
<div class="topRow">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <!-- <button mat-stroked-button type="button" (click)="addFilm()">Add film</button> -->
  <div>
    <button mat-stroked-button type="button" class="add" (click)="addFilm()">Add film</button>
    <button mat-stroked-button type="button" class="toggleRemove" (click)="toggleRemoveFilm()">Remove films</button>
  </div>
</div>
<div class="secondRow">
  <mat-card style="height: 3em">
    <p style="text-align: center">Total Films: {{totalFilms}}</p>
    <div *ngIf="offline === true">
      <br>
      <p style="color: red; text-align: center">Offline</p>
    </div>
  </mat-card>
</div>

<!-- Table -->
<!-- will not auto update, call renderRows() to update -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.displayId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Length Column -->
  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Length </th>
    <td mat-cell *matCellDef="let element"> {{element.length}} </td>
  </ng-container>

  <!-- Watched Column -->
  <ng-container matColumnDef="watched">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> Watched? </th>
    <td mat-cell *matCellDef="let element"> {{element.watched}} </td>
  </ng-container>

  <!-- Delete Button Column (will only be displayed if user is an admin) -->
  <ng-container matColumnDef="removeFilm">
    <th mat-header-cell *matHeaderCellDef>Remove Film</th>
    <td mat-cell *matCellDef="let element"><button type="button" class="remove" (click)="removeFilm(element.id)">x</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="updateWatched(row)"></tr>
</table>

<mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>