<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!-- will not auto update, call renderRows() to update -->
<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let film"> {{film.position}} </mat-cell>
    </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let film">{{film.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="length">
    <mat-header-cell *matHeaderCellDef>Length</mat-header-cell>
    <mat-cell *matCellDef="let film">{{film.length}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="watched">
    <mat-header-cell *matHeaderCellDef>Watched?</mat-header-cell>
    <mat-cell *matCellDef="let film">{{film.watched}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<router-outlet></router-outlet>
