table {
    text-align: center !important;
    width: 100%;
    padding: 2em;
  }
  
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    text-align: center;
  }

.topRow {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.add {
  height: 3em;
  width: 5em;
  text-align: center;
  background-color: rgb(63,81,181);
  color: white;
  display: flex;
  justify-content: center;
}