@import '~@angular/material/theming';

table {
    // text-align: center !important;
    width: 100%;
  }
  
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  // text-align: center;
}

// .mat-sort-header-container {
//   text-align: center;
//   // display: flex;
//   // justify-content: flex-end;
// }

// th.mat-header-cell {
//   text-align: center !important;
// }

// .header {
//   text-align: center !important;
// }

.topRow {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.add {
  height: 3em;
  width: 8em;
  text-align: center;
  background-color: rgb(63,81,181);
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}

.remove {
  height: 2em;
  width: 2em;
  background-color: red;
  color: white;
}